.heromain{
  background-image: url(./assets/AbstractDesign.png);
  /* background-color: aqua; */
  background-repeat: no-repeat;
  background-position-x: 95% ;
  background-position-Y: 10% ;
  background-size: 350PX;
}